.root {
  width: 121px;
  height: 31px;
  position: relative;
  color: #9b900b /* plasmic-token: x_ewZQX22 */;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
  background: #2837ff repeat;
  border: 1px solid #9b900b /* plasmic-token: x_ewZQX22 */;
}
.root:hover {
  background: #bbbbc7;
}
